* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: impact;
    src: url('fonts/impact/impact.ttf');
}

@font-face {
    font-family: elite;
    src: url('fonts/Special_Elite/SpecialElite-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: metal-mania;
    src: url('fonts/Metal_Mania/MetalMania-Regular.ttf)');
}

/* BASE */

body {
    margin: 0 auto;
    font-size: 1;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

input {
    outline: none;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    flex-grow: 1;
}

/* HEADER */

.main-header {
    background-color: tomato;
}

.logo {
    font-family: elite, sans-serif;
    letter-spacing: -0.8px;
    font-weight: 400;
    line-height: 0.8;
    text-transform: uppercase;
    cursor: pointer;
}

.logo-header {
    font-size: 2.5rem;
    height: 33px;
    width: 85px;
}

.btn-menu {
    display: none;
}

.main-nav a {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

.main-nav a:hover {
    color: #fff;
}

/* MAIN */

.main {
    background-color: rgb(249, 238, 219);
    flex-grow: 1;
}

.main-editor-page {
    justify-content: space-around;
    flex-direction: row;
    padding: 2em;
}

.editor-tools-grid {
    grid-column: 2/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 25px 50px 50px 50px 50px;
    gap: 1em;
    justify-content: center;

}

/* CANVAS */

.canvas-container {

    text-align: center;

    padding: 0;
    justify-content: flex-start;
    width: 550px;
    height: 550px;
}

/* EDITOR TOOLS */

.editor-buttons {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-size: 100%;
    display: block;
    cursor: pointer;
}

.switch-line {
    background-image: url("../icons/up-and-down-opposite-double-arrows-side-by-side.png");
    grid-column: 1/2;
    grid-row: 1;
}

.add-line {
    background-image: url("../icons/add.png");
    grid-column: 2/3;
    grid-row: 1;
}

.delete-line {
    background-image: url("../icons/trash.png");
    grid-column: 5/6;
    grid-row: 1;
}

.text-line {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2;
    border-radius: 15px;
    border: none;
    padding: 15px;
    font-size: 1.35rem;
}

.move-up {
    background-image: url("../icons/arrow-up.png");
    grid-column: 1;
    grid-row: 3;
}

.move-down {
    background-image: url("../icons/arrow-down.png");
    grid-column: 2;
    grid-row: 3;
}

.move-left {
    background-image: url("../icons/arrow-left.png");
    grid-column: 3;
    grid-row: 3;
}

.move-right {
    background-image: url("../icons/arrow-right.png");
    grid-column: 4;
    grid-row: 3;
}

.increase-font-size {
    background-image: url("../icons/increase-font-icon.png");
    grid-column: 1/2;
    grid-row: 5;
}

.decrease-font-size {
    background-image: url("../icons/decrease-font-icon.png");
    grid-column: 2/3;
    grid-row: 5;
}

.left-align {
    background-image: url("../icons/align-to-left.png");
    grid-column: 3/4;
    grid-row: 5;
}

.center-align {
    background-image: url("../icons/center-text-alignment.png");
    grid-column: 4/5;
    grid-row: 5;
}

.right-align {
    background-image: url("../icons/align-to-right.png");
    grid-column: 5/6;
    grid-row: 5;
}

.font-selector {
    grid-column: 1/4;
    grid-row: 6;
    border-radius: 15px;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    outline: none;
}

.stroke-color-picker {
    grid-column: 4/5;
    grid-row: 6;
    height: 100%;
    width: 100%;
    opacity: 0%;
    cursor: pointer;
}

.stroke-color-picker-img {
    background-image: url("../icons/text-stroke.png");
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-size: 100%;
    display: block;
    grid-column: 4/5;
    grid-row: 6;
}

.fill-color-picker {
    grid-column: 5/6;
    grid-row: 6;
    height: 100%;
    width: 100%;
    opacity: 0%;
    cursor: pointer;
}

.fill-color-picker-img {
    background-image: url("../icons/paint-board-and-brush.png");
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    grid-column: 5/6;
    grid-row: 6;
    width: 100%;
    height: 100%;
    background-size: 100%;
    display: block;
}

/* FOOTER */

.footer {
    text-align: center;
    background-color: tomato;
    padding: 15px;
}

.logo-footer {
    font-size: 22;
    padding-top: 15PX;
}

/* -------------GALLERY------------ */

.gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    margin: 0 auto;
    gap: .5em;
    padding: .5em;
}

.gallery-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.flex-col {
    flex-direction: column;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-content {
    justify-content: center;
}

/* lists */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* hidden */

.hidden {
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 1050px) {
    .main-editor-page {
        flex-direction: column;
    }
    .editor-tools-grid {
        grid-column: 1;
        grid-row: 2;
        padding: 30px;
        justify-content: center;
    }
    .gallery-grid-container {
        grid-template-columns: repeat(4, 200px);
        margin: 0 auto;
        justify-content: center;
    }
    .canvas-container {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 850px) {
    .gallery-grid-container {
        grid-template-columns: repeat(3, 200px);
    }
}

@media only screen and (max-width: 630px) {
    .gallery-grid-container {
        grid-template-columns: repeat(2, 200px);
    }
    .canvas-container {
        width: 350px;
        max-height: 350px;
        padding: 0px;
    }
    .main-editor-page {
        padding: 0;
        margin: 0;
    }
    .editor-buttons {
        padding: 0px;
        align-content: center;
    }
}

@media only screen and (max-width: 430px) {
    .gallery-grid-container {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        gap: .5em;
        padding: .5em;
        justify-items: center;
    }
    .canvas-container {
        margin: 0 ;
        padding: .25rem;
        align-content: center;
    }
    .gallery-img {
        /* height: 150px; */
        width: 150px;
        object-fit: cover;
    }
}